<!DOCTYPE html>
<html>
<head>
    <title>Pitch Predictor</title>
</head>
<body>
    <h1>Pitch Prediction</h1>

    <form method="POST">
        <label>Hitter:</label>
        <!--<select name="hitter">
            {% for h in hitters %}
                <option value="{{h}}">{{h}}</option>
            {% endfor %}
        </select>-->

        <br><br>

        <label>Pitcher:</label>
        <!--<select name="pitcher">
            {% for p in pitchers %}
                <option value="{{p}}">{{p}}</option>
            {% endfor %}
        </select>-->

        <br><br>

        <button type="submit">Predict</button>
    </form>

    <!--{% if prediction %}
        <h2>Prediction: {{ prediction }}</h2>
    {% endif %}-->
</body>
</html>
